@import 'src/styles/base/mixins';

.container {
  @include flex-column;
  @include flex-center;
  padding: 15px 20px;

  .answers {
    @include flex-column;
    @include flex-center;
    margin-top: 20px;
    gap: 12px;
    width: 100%;
  }

  .button {
    padding: 35px 12px;
    justify-content: start;
    text-align: left;

    .startIcon {
      margin-right: 12px;
    }
  }
}