@import 'src/styles/base/mixins';

.progressBox {
  margin-bottom: 8px;
}

.info {
  @include flex-row;
  @include flex-center-vertical;
  justify-content: space-between;
  margin-bottom: 8px;

  .infoTitle {
    @include body4;
    font-weight: 500;
  }

  .progressDetails {
    @include flex-row;
    @include flex-center-vertical;

    .progressNumber {
      @include body4;
      text-align: right;
      font-weight: 500;
    }
  }
}

.progressBar {
  width: 100%;
  height: 19px;
  overflow: hidden;
  border-radius: 22px;
  background-color: #e0e0e0;

  .progressBarLine {
    height: 19px;
    transition: all 0.1s linear;
  }
}

@keyframes circle {
  100% {
    transform: rotate(360deg);
  }
}
