.button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 56px;
  font-size: 18px;
  font-weight: 500;
  line-height: normal;
  text-transform: none;
  color: #282b56 !important;
  background-color: #fff !important;
  border-radius: 12px;
  @media (max-height: 569px) {
    height: 46px;
    font-size: 16px;
  }

  &.active,
  &:focus,
  &:hover {
    font-weight: 800;
    color: #fff !important;
    background-color: #8e85d3 !important;
  }

  @media (min-width: 500px) {
    &:hover {
      font-weight: 700 !important;
    }
  }

  &:disabled {
    background-color: #eae8ff !important;
    color: rgba(255, 255, 255, 0.25) !important;
  }
}
