@import 'src/styles/base/mixins';

.container {
  @include flex-column;
  @include flex-center;
  padding: 15px 20px;

  .answers {
    margin-top: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 16px;
    column-gap: 10px;
    width: 100%;
  }

  .button {
    @include flex-column;
    @include flex-center;
    height: 155px;
    border-radius: 24px;
  }
}