@import 'src/styles/base/mixins';

.wrapper {
  @include flex-column;
  max-width: 512px;
  margin: 0 auto;
  padding: 32px 16px;
}

.progressBox {
  @include flex-column;
}
.desktopStyle {
  @media (min-width: 500px) {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -40%);
  }
}

.title {
  @include h3;
  width: 100%;
  margin-bottom: 32px;

  @media (min-width: 500px) {
    font-size: 32px;
    margin-bottom: 24px;
  }
}
